<div class="background-white intro">    
  <div id="profile" class="container intro-content">
      <p class="lead ">
          “I learned the value of hard work by working hard.”<br>-
          Margaret Mead
        </p>
   <h3 style="text-align: left" class="adjust_text">Work Experience<span class="smallerHeading"> - {{experience}}</span></h3>
   <div class="row padding-needed">
      <div class="col-md-3">
        <div class="paragraph-font"><b>Friday Versicherung</b></div>
        <p class="sub-para paragraph-font">01 Apr 2020 – Present</p> <br/>
      </div>
  
     <div class="col-md-8">
        <div class="paragraph-font"><b>Fulltime - Software Engineer (Backend Focus)</b></div>
        <ul class="experience-list">
            <li>Automating policy creation processes (EVB, Renewals).</li>
            <li><b>Techstack:</b> Microservices architecture, Kotlin, Spring Boot, Micronaut, Postgresql, Kubernetes and Guidewire Policy Center</li>
          </ul>  
  
        <span class="experience-details"> <span class="location">
         <p class="sub-para paragraph-font colored-font align-left">  <i class="fa fa-map-marker"></i>
           Berlin, Germany | 
           <i class="fa fa-link"></i> <a href="https://www.friday.de/" target="_blank">https://www.friday.de/</a></p>
       </span>
       </span>
      </div>
    </div>

   <div class="row padding-needed">
    <div class="col-md-3">
      <div class="paragraph-font"><b>AUTO1 Group GmbH</b></div>
      <p class="sub-para paragraph-font">27 Aug 2018 – 30 Mar 2020</p> <br/>
    </div>

   <div class="col-md-8">
      <div class="paragraph-font"><b>Fulltime - Software Engineer</b></div>
      <ul class="experience-list">
          <li>Automated internal employees lifecycle processes: Onboarding, Offboarding, Probation end and 360 feedbacks.</li>
          <li>Implemeted a currency converter service (which stores daily currency rates from European Central Bank).</li>
          <li>Created a car search service by utilizing powerful features that elastic search has to offer.</li>
          <li>Created E2E api tests using Cucmber and application level integration tests using Rest Assured</li>
          <li><b>Techstack:</b> Microservices Architecture, Java 10, Spring Ecosystem (Boot, CLoud, Data Jpa, LDAP), Elastic Search, Postgresql and AWS</li>
        </ul>  

      <span class="experience-details"> <span class="location">
       <p class="sub-para paragraph-font colored-font align-left">  <i class="fa fa-map-marker"></i>
         Berlin, Germany | 
         <i class="fa fa-link"></i> <a href="https://www.auto1.com/en/"  target="_blank">https://www.auto1.com/</a></p>
     </span>
     </span>
    </div>
  </div>

   <div class="row padding-needed">
      <div class="col-md-3">
        <div class="paragraph-font"><b>Verizon Data Services India</b></div>
        <p class="sub-para paragraph-font">19 June 2017 – 10 Aug 2018</p> <br/>
      </div>
 
     <div class="col-md-8">
        <div class="paragraph-font"><b>Fulltime - Software Engineer (Full Stack Java)</b></div>
        <ul class="experience-list">
            <li>Rewritten Verizon Wireless point of sale (POS) applications to microservice architecture using Java 8, Spring 5, Spring Boot, Microservices, Angular 5 and AWS.</li>
            <li>Added many functionalities to the legacy POS applications which are written in ATG Web Commerce Framework</li>
          </ul>
        <span class="experience-details"> <span class="location">
         <p class="sub-para paragraph-font colored-font align-left">  <i class="fa fa-map-marker"></i>
           Chennai, Tamil Nadu, India | 
           <i class="fa fa-link"></i> <a href="https://www.verizonwireless.com/" target="_blank" >https://www.verizonwireless.com/</a></p>
       </span>
       </span>
      </div>
    </div>
    <div class="row padding-needed">
     <div class="col-md-3">
       <div class="paragraph-font"><b>Cognizant</b></div>
       <p class="sub-para paragraph-font">30 June 2015 – 16 June 2017</p> <br/>
     </div>
 
    <div class="col-md-8">
     <div class="paragraph-font"><b>Fulltime - Programmer Analyst (Full Stack Java)</b></div>
     <ul class="experience-list">
        <li>Developed data mining and analysis tool which is used to help risk managers with information about their policies and claims. See the tool in action here: <a href="https://www.youtube.com/watch?v=QGycP_mq4yc" target="_blank">RMIS Tool</a></li>
        <li>Ported and extended a legacy PL/SQL web app to modern technologies.</li>
        <li>Developed account search, new account, edit account and delete account functionalities. Consumed SOAP web services exposed by external applications.</li>
        <li><b>Techstack:</b> Java 7, Java Server Faces (JSF), JPA 2.0 with Hibernate 4.3 over Oracle 11g, Prime faces, AngularJs, LESS, Cucumber and Fusion Charts </li>
      </ul> 
      <span class="experience-details"> <span class="location">
        <p class="sub-para paragraph-font colored-font align-left">  <i class="fa fa-map-marker"></i>
         Chennai, Tamil Nadu, India | <i class="fa fa-link"></i> <a href="https://www.cognizant.com/" target="_blank" >https://www.cognizant.com/</a></p>
      </span>
      </span>
     </div>
   </div>
   <br/><br/>
  </div>
 </div>