<div class="background-white intro">    
    <div id="abilities" class="container intro-content">
        <p class="lead ">
            “Learning never exhausts the mind.”<br>-
            Leonardo da Vinci
          </p>
          <div class="card">
            <div class="card-header">
              Programming Languages
            </div>
            <div class="card-body">
                    <div class="row text-center">
                            <div class="img-right-padding"><img alt="" src="../../assets/images/Java.svg" class="responsive-img">Java</div>
                            <div class="img-right-padding"><img alt="" src="../../assets/images/Kotlin.png" class="responsive-img">Kotlin</div>
                            <div class="img-right-padding"><img alt="" src="../../assets/images/js.png" class="responsive-img">Java Script</div>
                     </div>                     
            </div>
          </div>
          <div class="card">
                <div class="card-header">
                  Front End Development
                </div>
                <div class="card-body">
                        <div class="row text-center">
                                <div ><img alt="" src="../../assets/images/html.ico" class="responsive-img">HTML 5</div>
                                <div class="img-right-padding"><img alt="" src="../../assets/images/css.png" class="responsive-img">CSS 3</div>
                                <div class="img-right-padding"><img alt="" src="../../assets/images/angular.png" class="responsive-img">Angular 2+</div>
                                <div class="img-right-padding"><img alt="" src="../../assets/images/bootstrap.png" class="responsive-img">Bootstrap</div>
                         </div>                     
                </div>
              </div>
              <div class="card">
                    <div class="card-header">
                      Backend | Frameworks
                    </div>
                    <div class="card-body">
                            <div class="row text-center">
                                    <div class="img-right-padding"><img alt="" src="../../assets/images/spring.png" class="responsive-img">Spring Ecosystem</div>
                                    <div class="img-right-padding"><img alt="" src="../../assets/images/Java.svg" class="responsive-img">J2EE <br/>(JSF 2.0+)</div>
                                    <div class="img-right-padding"><img alt="" src="../../assets/images/primefaces.png" class="responsive-img">Prime Faces</div>
                                    <div class="img-right-padding"><img alt="" src="../../assets/images/node.png" class="responsive-img">Node.js</div>
                                    
                             </div>                     
                    </div>
                  </div>
                  <div class="card">
                        <div class="card-header">
                          Databases/NoSql
                        </div>
                        <div class="card-body">
                                <div class="row text-center">
                                        <div class="img-right-padding"><img alt="" src="../../assets/images/postgresql.png" class="responsive-img">PostgreSQL</div>
                                        <div class="img-right-padding"><img alt="" src="../../assets/images/elastic.png" class="responsive-img">Elastic Search</div>
                                 </div>                     
                        </div>
                  </div>
                  <div class="card">
                      <div class="card-header">
                        Special Skills
                      </div>
                      <div class="card-body">
                              <div class="row text-center">
                                  <div class="img-right-padding"><img alt="" src="../../assets/images/Fabric.png" class="responsive-img">Hyperledger Fabric</div>
                               </div>                     
                      </div>
                </div>

    </div>
</div>